.slider-bg{
    /* background-image: linear-gradient(#0A192F , #0A192F)  ; */
    /* background-image: linear-gradient(#ECF4EC , #F4FCF4)  ; */
    /* background-image: url('../../../images/slider-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 85vh;
    background-size: cover; */
    /* background-image: linear-gradient(#5F4B8BFF , #E69A8DFF); */

}